<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans">

    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <!-- override these for application-specific URLs if you like:
        <property name="loginUrl" value="/login.jsp"/>
        <property name="successUrl" value="/home.jsp"/>
        <property name="unauthorizedUrl" value="/unauthorized.jsp"/> -->
        <!-- The 'filters' property is not necessary since any declared javax.servlet.Filter bean  -->
        <!-- defined will be automatically acquired and available via its beanName in chain        -->
        <!-- definitions, but you can perform instance overrides or name aliases here if you like: -->
        <!-- <property name="filters">
            <util:map>
                <entry key="anAlias" value-ref="someFilter"/>
            </util:map>
        </property> -->
        <property name="filterChainDefinitions">
            <value>
                /admin/** = authc, roles[admin]
                /docs/** = authc, perms[document:read]
                /** = authc
            </value>
        </property>
    </bean>

    <bean id="lzxRedisSessionDAO" class="com.zhaoxiang.security.LzxRedisSessionDAO"/>

    <bean id="lzxSessionDAO" class="com.zhaoxiang.security.LzxSessionDAO">
        <!-- 配置session id 生成器 -->
        <constructor-arg name="lzxRedisSessionDAO" ref="lzxRedisSessionDAO"/>
    </bean>

    <bean id="sessionManager" class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
        <property name="sessionDAO" ref="lzxSessionDAO"/>
        <property name="globalSessionTimeout" value="3600000"/>
    </bean>

    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="lzxRealm"/>
        <property name="sessionManager" ref="sessionManager"/>
    </bean>

    <bean id="lzxRealm" class="com.zhaoxiang.security.LzxRealm"/>
</beans>